MENU INCLUDE bko-gui.conf
PROMPT 0
MENU TITLE --== Fedora Live  ==--
MENU LABEL ^Fedora Live

TEXT HELP
		Here you can boot fedora live cd
		only http is supported.
		Currently, Fedora live cd only boot in single user mode
		You have to execute following commads to start GUI
		rm /etc/init.d/network
		rm /etc/init.d/NetworkManager
		init 5
		
ENDTEXT

label uplvl
	MENU LABEL Return
	MENU EXIT

label spacer
	MENU LABEL

label fedora_11_live_cd
    MENU DEFAULT
	MENU LABEL Fedora 11 Live CD  
    TEXT HELP
        currently work only in single user mode
    ENDTEXT
	kernel live/fedora/f11/vmlinuz0
	append root=CDLABEL=Fedora-11-i686-Live httpfs=@FEDORA_HTTPFS_11_ISO@ initrd=live/fedora/f11/initrd0.img rootfstype=auto ro liveimg rhgb selinux=0 single 
	IPAPPEND 3

