[submodule "pxeknife"]
	path = pxeknife
	url = git://github.com/nyov/pxeknife.git
[submodule "syslinux"]
	path = syslinux
	url = git://git.kernel.org/pub/scm/boot/syslinux/syslinux.git
[submodule "ipxe"]
	path = gpxe
	url = git://github.com/nyov/ipxe.git
