[submodule "pxeknife"]
	path = pxeknife
	url = http://pxeknife.erebor.org/git/pxeknife.git
[submodule "syslinux"]
	path = syslinux
	url = git://git.kernel.org/pub/scm/boot/syslinux/syslinux.git
[submodule "gpxe"]
	path = gpxe
	url = git://git.etherboot.org/scm/people/pravin/gpxe.git
