


   download3 {
      background: #fff;
      padding: 3px;
      font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
      font-size: large;
      font-variant: small-caps;
      border: 1px solid #000000;
      
    }
   
   download4 {
      color: #ffffff;
      background: #3300FF;
      padding: 0px 6px 0px 6px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
    }
    #download5 {
      /* color: #660000; */
      color: #FFFFFF;
      /* background: #cccccc; */
      background: #0000FF;
      /* padding: 0px 24px 0px 6px; */
      padding: 8px 24px 8px 24px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
    }


    #download6 {
      /* color: #660000; */
      color: #FFFFFF;
      /* background: #cccccc; */
      background:  #0000FF;
      /* padding: 0px 24px 0px 6px; */
      padding: 8px 24px 8px 24px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
    }

    #logo {
      font-size: x-large;
      font-weight: bold;
      vertical-align: middle;
    }

    #logotext {
      /* padding: 0px 0px 32px 32px; */
      font-weight: bold;
    }

    .vertmid {
      vertical-align: middle;
      display: table-cell;
    }

    #menubox {
      background: #ffffff;
      padding: 3px;
      font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
      font-size: large;
      font-variant: small-caps;
      border: 1px solid #000000;
    }

    #menuact {
      color: #ffffff;
      background: #3300FF;
      padding: 0px 6px 0px 6px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }

    #menulink {
      color: #660000;
      background: #cccccc;
      padding: 0px 24px 0px 6px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin: 3px 3px 3px 3px;
    }

    div.screenshot {
      position: relative;
      float: left;
      width: 33.33333333%;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    div.screenshot_all {
      float: left;
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      clear: both;
      text-align: center;
    }

	body{margin:5%;padding:0px;background:#fff;color:#000;font-family:Sans-Serif;}
	h1{padding:4px;text-align:center;border:4px double #000;background:#ffd;}
	h2{padding:4px;border:1px solid #888;background:#ffd;}
	table{border:0;margin-left:auto;margin-right:auto;margin-bottom:10px;}
	th{background:#bbd;padding:2px;}
	td{padding:2px;border-bottom:1px dotted #bbd;}
	img{border:0;vertical-align: middle;}
	blockquote{font-weight:bold;font-size:80%;}
	.headtext{color:#889;text-align:center;}
	#directory{text-align:center;margin-left:auto;margin-right:auto;}
	#bandwidth{color:#889;text-align:center;font-size:75%;}
	.bandwidth{color:#889;text-align:center;font-size:75%;}
	#news{color:#003;}
	#sponsors{text-align:center;margin-left:auto;margin-right:auto;}
	#trademark{font-size:75%;text-align:center;}
	#versions{text-align:center;}
	.kver{text-align:center;color:#004;font-size:90%;}
	.pvkey{color:#400;font-size:66%;}
	p{margin:10px;}
	.qbox{padding:4px;border:1px solid #888;background:#ffd;text-align:left;}
	.question{text-align:center;font-size:50px;vertical-align:top;font-weight:bold;padding-right:5px;}
	.answer{padding-left:7px;text-align:center;float:left;font-size:50px;vertical-align:top;font-weight:bold;padding-right:5px;}
	td.qmrk{padding:0px;border-bottom:0px;vertical-align:top;}
	td.amrk{padding:0px;border-bottom:0px;vertical-align:top;}
	td.qtd{padding:0px;border-bottom:0px;}
	td.atd{padding:0px;border-bottom:0px;}
	.qtable{border:0;margin-left:5px;}
	.atable{border:0;margin-left:5px;}
	.responsible{font-size:smaller;color:#889;text-align:center;}

