MENU INCLUDE bko-gui.conf
PROMPT 0
MENU TITLE --== Damm Small Linux ==--
MENU LABEL ^DSL

TEXT HELP
		Here you can boot DSL 
		Currently only HTTP booting is supported.
ENDTEXT

label uplvl
	MENU LABEL Return
	MENU EXIT

label spacer
	MENU LABEL

LABEL dsl-http-localhost
    MENU DEFAULT
	MENU LABEL DSL 
    TEXT HELP
	Boots DSL, small linux distribution
	It has GUI and mostly needed tools
    ENDTEXT
	KERNEL live/dsl/linux24 httpfs=P_ISO_LOCATION_LOCAL/dsl.iso
	APPEND ramdisk_size=100000 init=/etc/init lang=us apm=power-off vga=791 initrd=live/dsl/minirt24.gz nomce noapic BOOT_IMAGE=knoppix
    IPAPPEND 1

