MENU TITLE --== Ubuntu ==--
PROMPT 0
TIMEOUT 100 #this is optional - will start the default after 10 seconds

LABEL rootmenu
	MENU LABEL <---- BKO 
    TEXT HELP
	    Back to BKO menu 
        You can select another distribution from there 
    ENDTEXT
	kernel menu.c32
	append pxeknife/pxeknife.conf

label ubuntu904desktopi386-squash
    MENU DEFAULT
	MENU LABEL Ubuntu 9.04 Desktop i386 - squash
    TEXT HELP
       Boot ubuntu 9.04 Desktop 
       It uses squashfs instead of iso, so it may be faster
    ENDTEXT
	kernel pxeknife/ubuntu/ubuntu-9.04-desktop-i386/vmlinuz
	append  file=/cdrom/preseed/ubuntu.seed netboot=http boot=casper httpfs=P_ISO_LOCATION_LOCAL/U/filesystem.squashfs  initrd=pxeknife/ubuntu/ubuntu-9.04-desktop-i386/initrd.gz
    IPAPPEND 3

label ubuntu904desktopi386-iso
	MENU LABEL Ubuntu 9.04 Desktop i386 - iso 
    TEXT HELP
       Boot ubuntu 9.04 Desktop 
       It uses iso for booting
    ENDTEXT
	kernel pxeknife/ubuntu/ubuntu-9.04-desktop-i386/vmlinuz
	append  file=/cdrom/preseed/ubuntu.seed netboot=http boot=casper httpfs=P_ISO_LOCATION_LOCAL/ubuntu-9.04-desktop-i386.iso  initrd=pxeknife/ubuntu/ubuntu-9.04-desktop-i386/initrd.gz init=/bin/sh
    IPAPPEND 3

label ubuntu904desktopi386-iscsi
	MENU LABEL Ubuntu 9.04 Desktop i386 - iscsi
    TEXT HELP
       Boot ubuntu 9.04 Desktop 
       It uses iscsi for booting
    ENDTEXT
	kernel pxeknife/ubuntu/ubuntu-9.04-desktop-i386/vmlinuz
	append  file=/cdrom/preseed/ubuntu.seed netboot=iscsi boot=casper iscsifs=P_ISCSI_LOCATION_LOCAL   target=ubuntu.iso initrd=pxeknife/ubuntu/ubuntu-9.04-desktop-i386/initrd.gz
    IPAPPEND 3

