MENU INCLUDE bko-gui.conf
PROMPT 0
MENU TITLE --== Ubuntu ==--
MENU LABEL ^Ubuntu

TEXT HELP
		Here you can boot Ubuntu 9.04 - the Jaunty Jackalope
		You can choose to boot over HTTP or ISCSI.
		
ENDTEXT

label uplvl
	MENU LABEL Return
	MENU EXIT

label spacer
	MENU LABEL


label ubuntu904desktopi386-iso
	MENU LABEL Ubuntu 9.04 Desktop i386 - iso 
    TEXT HELP
       Boot ubuntu 9.04 Desktop 
       It uses http for booting
    ENDTEXT
	kernel live/ubuntu/U9/vmlinuz
	append initrd=live/ubuntu/U9/initrd.gz file=/cdrom/preseed/ubuntu.seed boot=casper netboot=http httpfs=P_ISO_LOCATION_LOCAL/u9.iso  
    	IPAPPEND 3

label ubuntu904desktopi386-iscsi
	MENU LABEL Ubuntu 9.04 Desktop i386 - iscsi
    TEXT HELP
       Boot ubuntu 9.04 Desktop 
       It uses iscsi for booting
    ENDTEXT
	kernel live/ubuntu/U9/vmlinuz
	append initrd=live/ubuntu/U9/initrd.gz file=/cdrom/preseed/ubuntu.seed boot=casper netboot=iscsi iscsifs=P_ISCSI_LOCATION_LOCAL target=ubuntu 
    	IPAPPEND 3
